.footer-container {
    display: block;
}

.contacts {
    height: 374px;
    background-color: #00A2E1;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-rights {
    background-color: #000000;
    height: 97px;
    color: #FFFFFF99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 90%;
}

.copy-rights div {
    display: flex;
}

.copy-rights p {
    padding: 8px;
    margin: 0 16px;
}

.social-media-container {
    width: 100%
}

.social-media-title {}

.sign-up,
.social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8%;
}

.align-icons {
    display: flex;
    padding: 8px;
}

.bullet-margins {
    margin: 8px;
}