* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 1em;
}

.nav-container {
    color: white;
    height: 60px;
    background-color: #00A2E1;
    width: 100%;
    top: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.nav-left {
    display: flex;
    font-size: 24px;
    margin-left: 16px;
}

.nav-left p {
    padding-right: 8px;
}

.nav-right {
    display: flex;
    margin-right: 16px;
}

/* .nav-right p {
    padding: 8px;
} */

/* .banner-container p {} */