.home-details-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.home-details-lh-container {
    width: 100%;

}

.home-details-rh-container {
    width: 100%;

}

.hd-imgs-container {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.hd-small-imgs {
    display: flex;
    width: 33%;
}