.home-details-page-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.hd-grid-row-1,
.hd-grid-row-2,
.hd-grid-row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    height: auto;
}

/* home details grid row 1 */
/* HomeDetailsImages */
.hd-imgs-container {
    border: black solid 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 44vh; */

}

.hd-small-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.hd-det-loc-container {
    width: 100%;
}

.address-properties-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-properties-card {
    height: 100%;
    width: 100%;
    border: solid lightgray 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hd-address {
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid lightgray 1px;
    line-height: 1.5;
}

.hd-address h1 {
    font-weight: 400;
}

.hd-properties {
    height: 65%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    line-height: 2.2;
}

.hd-properties-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hd-properties-style h2,
.hd-properties-style h3 {
    color: #3A5295;
    font-size: 3vh;
}

.hd-loc-btn-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* home details grid row 2*/

.hd-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 5%;
}

.description-content {
    display: flex;
    flex-direction: column;

}

.description-content h1,
.hd-prices-container h1 {
    font-weight: 400;
}

.description-content p,
.bedroom-prices-table {
    line-height: 1.7;
}

.hd-prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 30vh; */
}

.bedroom-prices-table {
    border: solid 1px lightgrey;
    border-radius: 20px;
}

.row-lines,
.top-row-line {
    border-top: solid 1px lightgrey;
    line-height: 2.5;
    display: flex;
    justify-content: space-between;
    margin: 0% 4%;
    font-size: large;
}

/* home details grid row 3 */

.hd-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 5%;
}

.features-content h1 {
    font-weight: 400;
}

.features-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.features-content ul {
    line-height: 2.5;
}